<!DOCTYPE html>
<html lang="fr" xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="layout">
<head>
<meta charset="utf-8" />
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no" />
<link href="https://fonts.googleapis.com/icon?family=Material+Icons"
	rel="stylesheet" />
<!-- <link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css" /> -->
<title>Saisie d'un nouveau produit</title>
</head>
<body>
	<p></p>
	<div class="container col-md-6 col-md-offset-3  table-responsive-md" layout:fragment="content">
		<div class="card">
			<div class="card-header bg-info text-white">
                Enregistrement d'un nouveau produit
            </div>
			<div class="card-body">
				<form th:action="@{/admin/save}" method="POST">
					<div class="form-group">
                        <label class="control-label">Désignation</label> 
                        <input class="form-control" type="text" name="designation"
                            th:value="${produit.designation}" /> 
                        <span class="text-danger" th:errors="${produit.designation}"></span>
					</div>
					<div class="form-group">
                        <label class="control-label">Prix</label> 
                        <input class="form-control" type="text" name="prix" th:value="${produit.prix}" /> 
                        <span class="text-danger" th:errors="${produit.prix}"></span>
					</div>
					<div class="form-group">
                        <label class="control-label">Quantité</label> 
                        <input class="form-control" type="text" name="quantite" th:value="${produit.quantite}" /> 
                        <span class="text-danger" th:errors="${produit.quantite}"></span>
					</div>
					<div class="form-group">
						<button onclick="return confirm('Cliquez sur OK si vous etes certain(e) de vouloir ajouter un enregistrement a la base de donnees')"
							type="submit" class="btn btn-outline-primary btn-sm rounded-circle">
							<i class="material-icons">save</i>
                        </button>
                        <button class="btn btn-outline-success btn-sm rounded-circle" type="reset">
                            <i class="material-icons">refresh</i>
                        </button>
					</div>
				</form>
			</div>
		</div>
	</div>
</body>
</html>